<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">


    <!--<a class="menu-toggler" id="menu-toggler" href="#">
        <span class="menu-text"></span>
    </a>-->
    <div class="sidebar" id="sidebar" th:fragment="left">
        <script type="text/javascript">
            try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
        </script>
        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
            <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                <button class="btn btn-success">
                    首页
                </button>

                <button class="btn btn-info">
                    配
                </button>

                <button class="btn btn-warning">
                    置
                </button>
                <button class="btn btn-danger">
                    项
                </button>
            </div>

            <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                <span class="btn btn-success"></span>

                <span class="btn btn-info"></span>

                <span class="btn btn-warning"></span>

                <span class="btn btn-danger"></span>
            </div>
        </div><!-- #sidebar-shortcuts -->

        <ul class="nav nav-list" th:each="menu:${session.menuTop}">

            <li>
                <a th:href="${menu.functionUrl}">
                    <i th:class="${menu.functionIcon}"></i>
                    <span class="menu-text" th:text="${menu.functionName}"></span>
                </a>
                <ul th:each="childMenu:${session.menuTree[menu.orderNum]}" >
                    <li>
                        <a th:href="${childMenu.functionUrl}">
                            <i th:class="${childMenu.functionIcon}"></i>
                            <span class="menu-text" th:text="${childMenu.functionName}"></span>
                        </a>
                    </li>

                </ul>
            </li>


        </ul><!-- /.nav-list -->

        <div class="sidebar-collapse" id="sidebar-collapse">
            <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
        </div>
        <script type="text/javascript">

            try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
        </script>

        <script type="text/javascript">
            var pathName = document.location.pathname;
            var projectName = pathName.substring(0, pathName.substr(1).indexOf('/') + 1);

            $('a').each(function(){
                var href = $(this).attr('href');
                $(this).attr('href',projectName+href);
            });
        </script>
    </div>
</html>