<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">



    <div class="sidebar" id="sidebar" th:fragment="left">
        <script type="text/javascript">
            try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
        </script>
        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
            <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                <button class="btn btn-success">
                    可
                </button>

                <button class="btn btn-info">
                    配
                </button>

                <button class="btn btn-warning">
                    置
                </button>
                <button class="btn btn-danger">
                    项
                </button>
            </div>

        </div><!-- #sidebar-shortcuts -->

        <ul class="nav nav-list">
            <!--th:class="${menu.functionUrl=='system'}?'active':''"-->
            <li th:each="menu:${session.menuTop}" th:onclick="'javascript:setCurrentMenu(this);'" th:class="parentmenu">
                <a th:if="null!=${menu.functionUrl}" th:href="@{${menu.functionUrl}}">
                    <i th:class="${menu.functionIcon}"></i>
                    <span class="menu-text" th:text="${menu.functionName}"></span>
                </a>
                <a th:if="null==${menu.functionUrl}">
                    <i th:class="${menu.functionIcon}"></i>
                    <span class="menu-text" th:text="${menu.functionName}"></span>
                </a>

                <ul class="submenu">
                    <!--th:class="${childMenu.functionUrl=='menu_list'}?'active':''"-->
                    <li th:if="null!=${session.menuTree[menu.orderNum]}" th:each="childMenu:${session.menuTree[menu.orderNum]}" >
                        <a th:href="@{${childMenu.functionUrl}}">
                            <i th:class="${childMenu.functionIcon}"></i>
                            <span class="menu-text" th:text="${childMenu.functionName}"></span>
                        </a>
                    </li>

                </ul>
            </li>
        </ul><!-- /.nav-list -->

        <div class="sidebar-collapse" id="sidebar-collapse">
            <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
        </div>
        <script type="text/javascript">
            try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}


        </script>

        <script type="text/css">
            /*.submenu li.active a{*/
            /*color: red!important;*/
            /*}*/
            .nav-list>li .submenu>li.active>a{color:red!important;}
        </script>


    </div>
</html>